spring:
  profiles:
    active: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  jackson:
    property-naming-strategy: LOWER_CAMEL_CASE
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false

server:
  servlet:
    context-path: /api/v1

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, info

logging:
  level:
    root: INFO
    com.neartalk.api: DEBUG
    org.hibernate.SQL: DEBUG
